
#websole{
  width: 100%;
  height: 80px;
  color: white;
  background-image: linear-gradient(to right,#484848, #2c2c2c);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
#back{
  width: 100%;
  height: 1039px;
  background-size: cover;
  background-attachment: fixed; 
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#terminal_box
{
  width: 700px;
  height: 450px;
  position: fixed;
}
#thead
{
  height: 50px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background-color:#2c2c2c;
}
#terminal
{
  width: 700px;
  height: 400px;
  background-color: black;
  border-radius: 0px 0px 10px 10px;
}
#exit_terminal{
  width: 80px;
  height: 50px;
  float: right;
  border-radius: 0px 10px 0px 0px;
  text-align: center;
  background-color: #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nt{
  width: 80px;
  height: 50px;
  float: left;
  border-radius: 10px 0px 0px 0px;
  text-align: center;
  background-color: #484848;
  display: flex;
  justify-content: center;
  align-items: center;
}
#terminal_title
{
  height: 50px;
  width: 540px;
  float:left;
  color: white;
  background-image: linear-gradient(to right,#484848, #2c2c2c);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.cmd
{
  width: 700px;
  float: left;
  margin: 0%;
  color: white;
  font-size: 20px;
  align-items: flex-start;
  text-align: left;
  justify-content: left;
}

.cmd_head
{
  width: auto;
  float: left;
  margin: 0%;
  color: greenyellow;
  font-size: 20px;
}
.cmd_res
{
  width: auto;
  float: left;
  margin: 0%;
  color: white;
  font-size: 20px;
  align-items: flex-start;
  text-align: left;
  justify-content: left;
}
.cmd_text
{
  width: 100%;
}
#input_bar
{
  border-color: black;
  border-radius: 1px;
  width: 700px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;  
}
input
{
  
  height: 30px;
  float: left;
  width: 100%;
}
#send
{
  height: 30px;
  width: 70px;
  font-size: 20px;
  float: right;
}
