#back{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed; 
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#terminal_box
{
  width: 700px;
  height: 450px;
  position: fixed;
}

#thead
{
  height: 50px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background-color:#2c2c2c;
  
}

#terminal
{
  width: 100%;
  height: 400px;
  background-color: rgb(10, 0, 26);
  border-radius: 0px 0px 10px 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

#exit_terminal{
  width: 80px;
  height: 50px;
  float: right;
  border-radius: 0px 10px 0px 0px;
  text-align: center;
  background-color: #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

#terminal_title
{
  height: 50px;
  float:left;
  color: white;
  background-color: #2c2c2c;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.cmd
{
  width: 100%;
  float: left;
  margin: 0%;
  color: white;
  font-size: 20px;
  align-items: flex-start;
  text-align: left;
  justify-content: left;
}

.cmd_head
{
  width: auto;
  float: left;
  margin: 0%;
  color: greenyellow;
  font-size: 20px;
}

.cmd_res
{
  width: auto;
  float: left;
  margin: 0%;
  color: white;
  font-size: 20px;
  align-items: flex-start;
  text-align: left;
  justify-content: left;
}

.cmd_text
{
  width: 100%;
}

#input_bar
{
  border-color: rgb(10, 0, 26);
  border-radius: 1px;
  width: 100%;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;  
}

input
{
  height: 100%;
  float: left;
  width: 100%;
}

@media only screen and (max-width:750px) {
  #back{
    width: 100%;
    height: 100%;
  }
  #terminal_box
  {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    left: 0px;
  }
  #terminal
  {
    height: 80%;
    border-radius: 0px 0px 0px 0px;    
  }
  #thead
  {
    border-radius: 0px 0px 0px 0px;
    height: 10%;
  }
  #exit_terminal
  {   
    visibility: hidden;
  }
  #input_bar
  {
    height: 10%; 
  }
  #terminal_title
  {
    height: 10%;  
  }
}